<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>discs DB demo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module">
      import apiCall from "/autocomplete";
      apiCall();
    </script>
    <script type="module" src="/tableSelect"></script>
  </head>
  <body>
     {{#if user}}
    <h1 class="title">Welcome, {{user.nickname}}!</h1>
    <h4 class="sub-title">Lookup a disc and add it to your collection! </h4>
    <div id="status-message"></div>
    <!-- Look up the mold with API -->
    <form class="API-lookup-form" id="API-lookup-form">
      <div class="input-container">
        <input class="input-form form-control" id="inputField" type="text" name="q" placeholder="Enter disc mold here">
        <button class="btn btn-success" id="api-autocomplete-btn" type="button">Lookup Mold</button>
      </div>
    </form>

    <!-- Input additional information and add to db -->
   <div class="form-container">
    <form class="input-form" id="submit-to-db" action="/submit" method="POST">
        <!-- Regular User Section -->
    {{#if user.permission.admin}}
    <div>
      <select id="table-select" class="form-select form-select-lg mb-3 bg-dark" aria-label=".form-select-lg example" name="table">
        <option selected>Choose a table to input the discs into</option>
      </select>
    </div>
  {{else}}
    <div style="display: none;">
      <select id="table-select" class="form-select form-select-lg mb-3 bg-dark" aria-label=".form-select-lg example" name="table">
        <option value="{{user.nickname}}" selected>{{user.nickname}}</option>
      </select>
    </div>
  {{/if}}
        <!-- Select category -->
          <div>
            <select required id="option-select" class="form-select form-select-lg mb-3 " aria-label=".form-select-lg example" name="collection">
              <option value="" selected disabled>Choose a collection</option>
              <option value="Main Bag">Main Bag</option>
              <option value="Side Bag">Side Bag</option>
              <option value="Collection">Collection</option>
              <option value="Backup">Backup</option>
              <option value="Sale / Trade">Sale / Trade</option>
            </select>
          </div>



        <!-- Color and stamp -->
        <div class="input-group input-group-center input-form"> 
          <span class="input-group-text">Color, Stamp, and Weight</span>
          <input id="color" type="text" aria-label="Disc Color" class="form-control" name="color" placeholder="Color">
          <input id="stamp" type="text" aria-label="Stamp" class="form-control" name="stamp" placeholder="Stamp">
          <input id="input-weight" type="number" value="175" min="1" max="200" class="form-control"  aria-describedby="weightHelp" name="weight">          
        </div>


        <!-- Sleepyscale -->
        <div class="input-form">
          <label>How worn is this discs? Choose the value that you feel like most represents the wear of the disc</label>
          <select type="number" value="10" class="form-select form-select-sm form-control" id="inputSleepyScale" aria-describedby="sleepyScaleHelp" name="sleepyscale">
            <option value="1">1 - Basically a beat up paper plate</option>
            <option value="2">2 - Questionable</option>
            <option value="3">3 - Beat but usable</option>
            <option value="4">4 - Beat up turnover disc with some evident war story wear</option>
            <option value="5">5 - Kinda beat, significant wear, has lost a good bit of its stability</option>
            <option value="6">6 - Typical used disc with the usual dings, scratches but still worthy</option>
            <option value="7">7 - Used with some minor dings or scuffs but still in</option>
            <option value="8">8 - Lightly used with very minimal wear</option>
            <option value="9">9 - Field tested or used for one or two rounds, no ink.</option>
            <option selected value="10">10 - Never thrown, no ink, brand new condition</option>
          </select>
        </div>

        <!-- Input mold/plastic/brand -->
        <div class="input-group input-group-center input-form">
          <input required type="text" class="form-control" id="inputMold" aria-label="mold" name="mold" placeholder="Mold">
          <input type="text" class="form-control" id="inputPlastic" aria-label="plastic" name="plastic" placeholder="Plastic">
          <input required type="text" class="form-control" id="brand" aria-label="brand" name="brand" placeholder="Brand">
          <div id="moldHelp" class="form-text"></div>
        </div>

        <a class="text-success" href="https://www.wrightlife.com/plastic-types-and-descriptions/" target="_blank">Not sure what the plastic type is?</a>

        <!-- Flight numbers -->
   <div class="container input-group input-group-center input-form">
      <div class="row input-row">
        <label class="col input-label" for="speed">Speed:</label>
        <input required type="number" id="speed" step=".5" min="1" class="col form-control" name="speed">
      </div>
      <div class="row input-row">
        <label class="col input-label" for="glide">Glide:</label>
        <input required type="number" id="glide" step=".5" min="1" class="col form-control" name="glide">
      </div>
      <div class="row input-row">
        <label class="col input-label" for="turn">Turn:</label>
        <input required type="number" id="turn" step=".5" class="col form-control" name="turn">
      </div>
      <div class="row input-row">
        <label class="col input-label" for="fade">Fade:</label>
        <input required type="number" id="fade" step=".5" class="col form-control" name="fade">
      </div>
    </div>
        <button type="submit" id="submit-btn" class="btn btn-success">Submit to database</button>
      </form>
  </div>
  {{else}}
    <h1 class="title">Hello Guest, Welcome to discsDB</h1>
    <p>Welcome to the input page! Use this form to look up discs by mold. Registered users can use this tool to add discs to their database. Please <a href="/registration">register</a> to experience full database functionality.</p> 
    <!-- Look up the mold with API -->
    <form class="input-form API-lookup-form" id="API-lookup-form">
      <div class="input-container">
        <input class="input-form form-control" id="inputField" type="text" name="q" placeholder="Enter disc mold here">
        <button class="btn btn-success" id="api-autocomplete-btn" type="button">Lookup Mold</button>
      </div>
    </form>

    <div class="input-form input-guest-disc-info" id="submit-to-db">
        <div class="input-group table">
          <div class="input-row table-row">
            <div class="table-cell">
              <label for="inputMold" class="form-sublabel">Disc Mold</label>
              <input type="text" class="input-guest-disc-info" id="inputMold" aria-label="mold" name="mold" placeholder="">
            </div>
            <div class="table-cell">
              <label for="brand" class="form-sublabel">Brand</label>
              <input type="text" class="input-guest-disc-info" id="brand" aria-label="brand" name="brand" placeholder="">
            </div>
          </div>
          <div class="input-row table-row">
            <div class="table-cell">
              <label class="form-sublabel flight-label">Flight Numbers</label>
            </div>
          </div>
          <div class="input-row table-row">
            <div class="table-cell">
              <label for="speed" class="form-sublabel">Speed</label>
              <input type="number" aria-label="Speed" step=".5" min="1" class="input-guest-disc-info" name="speed" placeholder="">
            </div>
            <div class="table-cell">
              <label for="glide" class="form-sublabel">Glide</label>
              <input type="number" aria-label="Glide" step=".5" min="1" class="input-guest-disc-info" name="glide" placeholder="">
            </div>
            <div class="table-cell">
              <label for="turn" class="form-sublabel">Turn</label>
              <input type="number" step=".5" aria-label="Turn" class="input-guest-disc-info" name="turn" placeholder="">
            </div>
            <div class="table-cell">
              <label for="fade" class="form-sublabel">Fade</label>
              <input type="number" step=".5" aria-label="Fade" class="input-guest-disc-info" name="fade" placeholder="">
            </div>
          </div>
        </div>
    </div>


  {{/if}}
  
   
   
  <script>
  const urlParams = new URLSearchParams(window.location.search);
  const success = urlParams.get('success');

  if (success === 'true') {
    const statusMessage = document.getElementById('status-message');
    statusMessage.textContent = 'Form submission successful!';
    // You can customize the styling of the status message here
    statusMessage.style.color = 'green';
  }
</script>
<script>
  const form = document.getElementById('submit-to-db');
  const stampInput = document.getElementById('stamp');
  const collection = document.getElementById('option-select');
  const colorInput = document.getElementById('color');
  const plasticInput = document.getElementById('inputPlastic');
  const moldInput = document.getElementById('inputMold');
  const brandInput = document.getElementById('brand');
  const speedInput = document.getElementById('speed');
  const glideInput = document.getElementById('glide');
  const turnInput = document.getElementById('turn');
  const fadeInput = document.getElementById('fade');

  // Add a submit event listener to the form
  form.addEventListener('submit', function(event) {
    // Check if the stamp field is empty
    if (stampInput.value.trim() === '') {
      // Assign a default value to the stamp field
      stampInput.value = 'unspecified';
    }

    // Check if the color field is empty
    if (colorInput.value.trim() === '') {
      // Assign a default value to the color field
      colorInput.value = 'unspecified';
    }

    // Check if the plastic field is empty
    if (plasticInput.value.trim() === '') {
      // Assign a default value to the plastic field
      plasticInput.value = 'unspecified';
    }

    // Check if any required fields are empty
    if (
          moldInput.value.trim() === '' ||
          brandInput.value.trim() === '' ||
          speedInput.value.trim() === '' ||
          glideInput.value.trim() === '' ||
          turnInput.value.trim() === '' ||
          fadeInput.value.trim() === '' ||
          collection.value === ''
        ) {
          // Prevent the form from submitting
          event.preventDefault();

          // Show an error message or provide visual feedback to the user
          alert('Please fill in all required fields before submitting the form.');
        }


  });
</script>
</body>
</html>
